footer {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    background-color: var(--black);
    color: var(--white);
}

.footer-image {
    height: 50%;
    width: 100%;
    background-image: url(../images/ready-bg-desktop@2x.jpg);
    background-size: cover;
}

.footer-content {
    height: 50%;
    width: 100%;
}