footer {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    background-color: var(--black);
    color: var(--white);
}

.footer-image {
    height: 50%;
    width: 100%;
    background-image: url(../images/ready-bg-desktop@2x.jpg);
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content:space-around;    
}

.footer-image p {
    font-size: 2rem;
    font-weight: 600;
    margin-top: 10vh;    
}

.footer-image button {
    background-color: transparent;
    border-color: var(--white);
    color: var(--white);
    margin-top: 10vh;    
}

.footer-image button:hover {
    background-color: var(--white);
    color: var(--black);
}

.footer-content {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content:space-around;
}

.footer-content h2 {
    margin-top: 10vh;
}

.footer-content p {
    font-size: 0.8rem;
    margin-top: 10vh;
    text-transform: uppercase;
}

.social-media i {
    font-size: 1.5rem;
    margin-top: 10vh;
    padding: 0.5vw;
    cursor: pointer;
}