@media(max-width: 970px) {
    .nav-bar {
        background-image: url(../images/hero-bg-tablet@2x.jpg);
        background-size: cover;
        height: 220vh;
    }

    .nav-content {
        width: 50%;
        text-align: center;
        margin: 90vh auto auto auto;
    }

    .nav-content button {
        width: 40%;
    }

    /* section: */

    .first-section, .second-section {
        flex-direction: column;
        height: 150vh;
    }

    .image-1, .image-2 {
        width: 80%;
    }

    .image-1 img {
        width:55%;
        height: 60vh;
        position: absolute;
        margin-top: -15vh;
    }

    .content-1 {
        width: 30%;
        margin: 60vh auto 2vh auto;
    }
}