@media(max-width: 970px) {
    .nav-bar {
        background-image: url(../images/hero-bg-tablet@2x.jpg);
        background-size: cover;
        height: 220vh;
    }

    .nav-content {
        width: 50%;
        text-align: center;
        margin: 90vh auto auto auto;
    }

    .nav-content button {
        width: 40%;
    }
}